body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

#logo-img {
  margin-top: 5px;
}

h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #fe9013;

  margin-top: 5px;
  margin-bottom: 20px;
  padding-top: 40px;
}
p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333b41;
}
header {
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: #000000;
  text-align: center;
  position: relative;
  z-index: 2;
}
header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1160px;
  max-height: 80px;
  height: 80px;
  margin: 0 auto;
}
.top-navigation-bar {
  flex: 1;
}
.navigation {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
}
.navigation ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  font-size: 16px;
  font-weight: 500;
}
.navigation a {
  margin-right: 10px;
  color: #fff;
  text-decoration-line: none;
}

.big-panda {
  background-image: url(../../assets/images/panda_bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 386px;
}
.lovely-zoo-online {
  border: none;
  width: 298px;
  height: 54px;
  left: calc(50% - 298px / 2 + 332px);
  top: 626px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.lovely-zoo-online:hover {
  background: #e47209;
  border-radius: 25px;
  cursor: pointer;
}
#feed-a-friend {
  margin: 0 auto;
  display: block;

  text-decoration: none;
  text-align: center;
  max-height: 36px;
  text-decoration-line: none;
  vertical-align: middle;
  padding-top: 18px;
}

.lovely-zoo-online:active {
  background: #4b9200;
  border-radius: 25px;
}
#about-active {
  color: #f9804b;
}
.navigation a:hover {
  color: #f9804b;
}
.peek-and-feed {
  padding-top: 40px;

  padding-bottom: 294px;
  align-items: center;
  max-height: 1004px;
  margin: 0 auto;
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  opacity: 0.9;
}
.peach-box {
  max-width: 1160px;
  margin: 0 auto;
  text-align: center;
}
.pink-box {
  background: rgba(253, 253, 255, 0.52);
  border-radius: 20px;
  max-width: 1160px;
  margin-top: 69px;
  margin-bottom: 180px;
  margin: 0 auto;
}
h5 {
  padding-top: 41px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  /* identical to box height, or 58px */
  text-align: center;
  color: #fe9013;
  margin: 0px;
}

#pick-big {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */

  color: #333b41;
  padding-left: 92px;
  margin-bottom: 0px;
  margin-top: 20px;
}
#pick-middle {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  /* identical to box height, or 21px */
  color: #333b41;
  padding-left: 99px;
  padding-top: 40px;
  margin-top: 0px;
  margin-bottom: 6px;
}
#pick-small {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333b41;
  padding-left: 99px;
  padding-right: 198px;
  margin-top: 8px;
}
a.ssilka-donation {
  text-decoration: none;
  color: #333b41;
  border-bottom: 1px solid #fe9013;
}
h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #ffffff;

  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.small-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 0px;
}
.information {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #fe9013;
  text-align: left;
  margin-top: 44px;
  margin-bottom: 60px;
}

.share {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;

  color: #333b41;

  text-align: center;
  padding-bottom: 61px;
}

.amaunt-for-panda {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 48px;
  text-align: center;
}
.left-text {
  padding-top: 6px;
  padding-right: 100px;
}
.big-4 {
  font-size: 72px;
  font-weight: 600;
}
.small-text-under {
}
.small-text-under:after {
  content: url(../../assets/icons/x_icon.png);
  position: relative;
  left: 35px;
  top: -35px;
}

footer {
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: #111115;
  text-align: center;
}
footer .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1160px;
  max-height: 443px;
  margin: 0 auto;
  padding-top: 38px;
}

#donate-for-volunteers {
  display: block;
  text-decoration: none;
  padding-bottom: 2px;
}

.social-links {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  list-style: none;
  text-align: left;
  padding-left: 0px;
  margin-bottom: 50px;
  color: #fff;
  text-decoration-line: none;
  vertical-align: top;
}

.social-links a {
  color: #fff;
  text-decoration-line: none;
}
.social-name {
  vertical-align: top;
}

.name-subscribe {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  text-align: left;
  padding-bottom: 14px;
}

.footer_navigation {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding-left: 250px;
  padding-right: 150px;
}
.footer_navigation ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0px;
  padding-top: 40px;
}
.footer_navigation a {
  margin-right: 30px;
  color: #fff;
  text-decoration-line: none;
}

.footer_navigation a:hover {
  color: #f9804b;
}

input {
  width: 228px;
  height: 42px;
  right: 359px;
  top: 83px;
  border-radius: 4px;
  box-sizing: border-box;
  border: #f9804b solid 1px;
  background-color: #111115;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  color: #ffffff;
}

.email {
  padding-left: 10px;
}

.submit-button {
  width: 129px;
  height: 42px;
  background: #f1f3f2;
  /* black_blue */
  border: 1px solid #333b41;
  border-radius: 5px;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.submit-button:hover {
  color: #4b9200;
  cursor: pointer;
  border: 1px solid #4b9200;
}

.last-part {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  /* identical to box height, or 21px */
  color: #ffffff;
  font-weight: 300%;
}

#logo-footer-img {
  padding-top: 0px;
}
.feedback-button {
  width: 298px;
  height: 38px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 5px;
  border: none;
  color: #fff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  text-align: center;
  text-transform: uppercase;
  padding-top: 16px;
  max-height: 54px;
}
.feedback-button:hover {
  background: #e47209;
  cursor: pointer;
}
.feedback-button:active {
  background: #4b9200;
}
