body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

#logo-img {
  margin-top: 5px;
}

h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #fe9013;

  margin-top: 5px;
  margin-bottom: 20px;
  padding-top: 23px;
}
p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333b41;
}
header {
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: #000000;
  text-align: center;
  position: relative;
  z-index: 2;
}
header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1160px;
  max-height: 80px;
  height: 80px;
  margin: 0 auto;
}
.top-navigation-bar {
  flex: 1;
}
.navigation {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
}
.navigation ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  font-size: 16px;
  font-weight: 500;
}
.navigation a {
  margin-right: 10px;
  color: #fff;
  text-decoration-line: none;
}

.big-panda {
  background-image: url(../../assets/images/panda_bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 386px;
}
.lovely-zoo-online {
  border: none;
  width: 298px;
  height: 54px;
  left: calc(50% - 298px / 2 + 332px);
  top: 626px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.lovely-zoo-online:hover {
  background: #e47209;
  border-radius: 25px;
  cursor: pointer;
}
#feed-a-friend {
  margin: 0 auto;
  display: block;

  text-decoration: none;
  text-align: center;
  max-height: 36px;
  text-decoration-line: none;
  vertical-align: middle;
  padding-top: 18px;
}

.lovely-zoo-online:active {
  background: #4b9200;
  border-radius: 25px;
}
#about-active {
  color: #f9804b;
}
.navigation a:hover {
  color: #f9804b;
}
.peek-and-feed {
  padding-top: 40px;

  padding-bottom: 170px;
  align-items: center;
  max-height: 1482px;
  margin: 0 auto;
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  opacity: 0.9;
}
.peach-box {
  max-width: 1160px;
  margin: 0 auto;
  text-align: center;
}
.pink-box {
  background: rgba(253, 253, 255, 0.52);
  border-radius: 20px;
  max-width: 1160px;
  margin-top: 69px;
  margin-bottom: 180px;
  margin: 0 auto;
}
h5 {
  padding-top: 41px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  /* identical to box height, or 58px */
  text-align: center;
  color: #fe9013;
  margin: 0px;
}

#pick-big {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */

  color: #333b41;
  padding-left: 92px;
  margin-bottom: 0px;
  margin-top: 20px;
}
#pick-middle {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  /* identical to box height, or 21px */
  color: #333b41;
  padding-left: 99px;
  padding-top: 40px;
  margin-top: 0px;
  margin-bottom: 6px;
}
#pick-small {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333b41;
  padding-left: 99px;
  padding-right: 198px;
  margin-top: 8px;
}
a.ssilka-donation {
  text-decoration: none;
  color: #333b41;
  border-bottom: 1px solid #fe9013;
}
h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #ffffff;

  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.small-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 0px;
}
.information {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #fe9013;
  text-align: left;
  margin-top: 44px;
  margin-bottom: 60px;
}

.share {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;

  color: #333b41;

  text-align: center;
  padding-bottom: 61px;
}

.amaunt-for-panda {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 44px;
  text-align: center;
}
.left-text {
  padding-top: 6px;
  padding-right: 100px;
}
.big-4 {
  font-size: 72px;
  font-weight: 600;
}
.small-text-under {
}
.small-text-under:after {
  content: url(../../assets/icons/x_icon.png);
  position: relative;
  left: 35px;
  top: -35px;
}
#amount-p {
  padding-left: 96px;
  margin-top: 6px;
}

.black-amount-bar {
  display: flex;
  justify-content: space-between;
  background-color: #404950;
  margin-left: 96px;
  margin-right: 92px;
  max-height: 27px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.black-amount-bar label {
  position: relative;
  left: 0;
  top: 40px;
  display: inline-block;
  background: none;
  font-family: "Roboto";
  font-weight: 600;
  color: #333b41;
}

.black-amount-bar input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  content: "";
}

.pink-box::before {
  content: url(../../assets/icons/Rectangle_12.png);
  position: relative;
  left: 11%;
  top: 550px;
}

.checkmark {
  position: relative;
  left: 10px;
  top: 10px;
  height: 10px;
  width: 10px;
  background-color: #ffee2e;
  border-radius: 50%;
  cursor: pointer;
}

.checkmark:hover {
  width: 9px;
  height: 9px;
  border: 1px solid #fe9013;
  background: #ffee2e;
  position: relative;
}
.checkmark:checked {
  width: 9px;
  height: 9px;
  border: 1px solid #fe9013;
  background: #ffee2e;
  position: relative;
}
.radio {
  display: flex;
  flex-direction: column;
}

#another-amount {
  background: none;
  border: #929699 solid 1px;
  display: block;
  margin: 0 auto;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.an-amount {
  padding-top: 77px;
}

.how-often {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 27px;
  padding-right: 10px;
  padding-left: 10px;
}

.how-often input {
  display: none;
  margin-right: 5px;
}
.how-often label {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  border: 1px solid #fe9013;
  display: inline-block;
  margin-right: 5px;
}

.how-often label:hover {
  cursor: pointer;
}
.how-often input:checked + label {
  background: #fe9013;
}
#another-amount {
  height: 54px;
  width: 268px;
}

.input-another-amount:after {
  content: "";
  width: 12px;
  height: 15px;
  display: inline-block;
  background: url(../../assets/icons/dollar.png) 50% no-repeat;
  background-size: contain;
  opacity: 0.6;
  position: relative;
  left: 59%;
  bottom: 32px;
}

.checkmark2 {
  margin-right: 30px;
}

.button-donate {
  margin-top: 30px;
}

footer {
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: #111115;
  text-align: center;
}
footer .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1160px;
  max-height: 443px;
  margin: 0 auto;
  padding-top: 38px;
}

#donate-for-volunteers {
  display: block;
  text-decoration: none;
  padding-bottom: 2px;
}

.social-links {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  list-style: none;
  text-align: left;
  padding-left: 0px;
  margin-bottom: 50px;
  color: #fff;
  text-decoration-line: none;
  vertical-align: top;
}

.social-links a {
  color: #fff;
  text-decoration-line: none;
}
.social-name {
  vertical-align: top;
}

.name-subscribe {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  text-align: left;
  padding-bottom: 14px;
}

.footer_navigation {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding-left: 250px;
  padding-right: 150px;
}
.footer_navigation ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0px;
  padding-top: 40px;
}
.footer_navigation a {
  margin-right: 30px;
  color: #fff;
  text-decoration-line: none;
}

.footer_navigation a:hover {
  color: #f9804b;
}

input {
  width: 228px;
  height: 42px;
  right: 359px;
  top: 83px;
  border-radius: 4px;
  box-sizing: border-box;
  border: #f9804b solid 1px;
  background-color: #111115;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  color: #ffffff;
}

.email {
  padding-left: 10px;
}

.submit-button {
  width: 129px;
  height: 42px;
  background: #f1f3f2;
  /* black_blue */
  border: 1px solid #333b41;
  border-radius: 5px;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.submit-button:hover {
  color: #4b9200;
  cursor: pointer;
  border: 1px solid #4b9200;
}

.last-part {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  /* identical to box height, or 21px */
  color: #ffffff;
  font-weight: 300%;
}

#logo-footer-img {
  padding-top: 0px;
}
.feedback-button {
  width: 298px;
  height: 38px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 5px;
  border: none;
  color: #fff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  text-align: center;
  text-transform: uppercase;
  padding-top: 16px;
  max-height: 54px;
}
.feedback-button:hover {
  background: #e47209;
  cursor: pointer;
}
.feedback-button:active {
  background: #4b9200;
}
@media screen and (max-width: 1190px) {
  body {
    width: 1000px;
    max-width: 1000px;
  }

  .big-panda {
    height: 389px;
  }

  header .wrapper {
    padding-left: 28px;
    padding-right: 18px;
  }
  h3 {
    text-align: left;
    margin-left: 30px;
    margin-right: 192px;
  }
  .small-text {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 25px;
  }
  .information {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 10px;
  }
  .peek-and-feed {
    max-height: 1333px;
    padding-bottom: 10px;
  }
  #pick-big {
    margin-top: 0px;
    padding-left: 44px;
  }
  #amount-p {
    padding-left: 65px;
  }

  .black-amount-bar {
    display: flex;
    justify-content: space-between;
    background-color: #404950;
    margin-left: 65px;
    margin-right: 65px;
    max-height: 27px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .pink-box::before {
    content: url(../../assets/icons/Rectangle_12_1000.png);
    position: relative;
    left: 8.5%;
    top: 520px;
  }
  #del5000 {
    display: none;
  }
  .share {
    margin-top: 30px;
    padding-bottom: 45px;
  }

  .pink-box {
    max-width: 940px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .feedback-button {
    margin-left: 30px;
  }
  #footer-petsory {
    margin-left: 30px;
  }
  form.subscribe-to-news {
    margin-right: 63px;
  }

  .social-links {
    margin-left: 30px;
    width: 120px;
  }
  .footer_navigation {
    padding-left: 110px;
    padding-right: 30px;
  }
  .last-part {
    margin-right: 20px;
  }
  footer {
    max-width: 1000px;
  }
}
@media screen and (max-width: 770px) {
  body {
    width: 640px;
  }
  header {
    max-width: 100%;
    width: 640px;

    position: fixed;
    top: 0;
  }
  #logo-img {
    display: none;
  }

  h1 {
    background: url(../../assets/icons/logo_footer.png);
    width: 47px;
    height: 30px;
    background-size: cover;
  }
  .top-navigation-bar {
    background: url(../../assets/icons/burger_menu.png);
    width: 18px;
    height: 10px;
    background-size: cover;
    max-width: 18px;
    max-height: 10px;
    background-position: right;
    display: block;
  }
  .top-navigation-bar:hover {
    cursor: pointer;
  }

  .navigation ul {
    display: none;
  }

  header .wrapper {
    max-height: 34px;
    height: 34px;
    margin-left: 20px;
    margin-right: 10px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .big-panda {
    height: 369px;
  }
  .reopened-zoo {
    font-size: 24px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .peek-and-feed {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .small-text {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
  }
  .information {
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 30px;
  }
  .pink-box {
    max-width: 918px;
    margin-left: 20px;
    margin-right: 20px;
  }
  #pick-big {
    text-align: center;
    padding-left: 0px;
  }
  .amaunt-for-panda {
    margin-top: 50px;
    margin-bottom: 41px;
  }
  #amount-p {
    padding-left: 10px;
  }
  .black-amount-bar {
    display: flex;
    justify-content: space-between;
    background-color: #404950;
    margin-left: 0px;
    margin-right: 0px;
    max-height: 27px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  #del640 {
    display: none;
  }

  .pink-box::before {
    content: url(../../assets/icons/Rectangle_12_640.png);
    position: relative;
    left: 7%;
    top: 535px;
  }
  .share {
    padding-bottom: 30px;
  }
  form.subscribe-to-news {
    display: none;
  }
  footer .wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .social-name {
    display: none;
  }
  .social-links {
    position: absolute;
    right: 50px;
    top: 1720px;
  }

  .footer_navigation {
    padding-left: 10px;
    padding-right: 10px;
    width: 150px;
  }

  .footer_navigation ul {
    padding-left: 10px;
    justify-content: flex-start;
  }
  .last-part {
    font-size: 15px;
    width: 30%;
    margin-right: 0px;
  }

  .social-links {
    width: 25px;
  }
  .how-often {
    padding-top: 10px;
  }
}

@media screen and (max-width: 450px) {
  body {
    width: 320px;
  }
  header {
    max-width: 100%;
    width: 320px;
  }
  #logo-img {
    display: none;
  }

  h1 {
    background: url(../../assets/icons/logo_footer.png);
    width: 47px;
    height: 30px;
    background-size: cover;
  }
  .top-navigation-bar {
    background: url(../../assets/icons/burger_menu.png);
    width: 18px;
    height: 10px;
    background-size: cover;
    max-width: 18px;
    max-height: 10px;
    background-position: right;
    display: block;
  }
  .top-navigation-bar:hover {
    cursor: pointer;
  }

  .navigation ul {
    display: none;
  }

  header .wrapper {
    max-height: 34px;
    height: 34px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .big-panda {
    background-image: url(../../assets/images/panda_bg_320.png);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 221px;
  }

  .reopened-zoo {
    font-size: 24px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .small-text {
    margin-left: 10px;
    margin-right: 10px;
  }
  .information {
    font-size: 24px;
    margin-left: 10px;
  }

  .pink-box {
    max-width: 591px;
    margin-left: 10px;
    margin-right: 10px;
  }
  h2 {
    font-size: 24px;
    padding-top: 0px;
  }

  #pick-big {
    font-size: 16px;
  }

  #panda-widget {
    width: 160px;
    height: 138px;
  }

  .big-4 {
    font-size: 32px;
  }
  .small-text-under {
    font-size: 9px;
    width: 105px;
    padding-left: 10px;
  }
  .amaunt-for-panda {
    margin-top: 10px;
    margin-bottom: 4px;
  }

  .small-text-under:after {
    content: url(../../assets/icons/x_icon.png);
    position: relative;
    left: 15px;
    top: -25px;
  }
  .left-text {
    padding-top: 6px;
    padding-right: 25px;
  }

  #amount-p {
    margin-bottom: 6px;
  }

  .an-amount {
    padding-top: 49px;
  }

  #another-amount {
    height: 42px;
    width: 180px;
  }

  .input-another-amount:after {
    content: "";
    width: 12px;
    height: 15px;
    display: inline-block;
    background: url(../../assets/icons/dollar.png) 50% no-repeat;
    background-size: contain;
    opacity: 0.6;
    position: relative;
    left: 67%;
    bottom: 30px;
  }

  .share {
    font-size: 15px;
    padding-bottom: 19px;
  }
  .peek-and-feed {
    padding-bottom: 10px;
  }
  .pink-box::before {
    content: url(../../assets/icons/Rectangle_12_320.png);
    position: relative;
    left: 7%;
    top: 285px;
  }

  .icon-port {
    padding: 8px;
  }
  .name-icon {
    padding-top: 8px;
  }
  #logo-footer-img {
    display: none;
  }
  #footer-petsory {
    background: url(../../assets/images/PetStory_logo.png);
    width: 148px;
    height: 22px;
    background-size: cover;
    text-align: center;
    margin: 0 auto;
  }

  .social-links {
    position: absolute;
    right: 65%;
    top: 1480px;
    display: flex;

    text-align: center;
  }
  .social-links img {
    margin-left: 10px;
  }
  #donate-for-volunteers {
    margin: 0 auto;
    text-align: center;
    margin-top: 70px;
  }
  .last-part {
    margin-top: 0px;
    width: 250px;
    position: absolute;
    top: 1600px;
    left: 10%;
  }
  footer {
    height: 354px;
  }
  .footer_navigation {
    margin-top: 40px;
  }
}
